:root{
    --body-background: linear-gradient(to bottom, #003e6d, #000c14);
    --body-color: #ffffff;
    --p-color: rgb(255, 255, 255);
    --a-color: aliceblue;
    --a-hover: rgb(0, 119, 255);
    --header-background-color: #181818;
    --header-color: #fff;
    --header1-background-color: #003b68;
    --header1-color: #ffffff;
    --nav-li-color: #fff;
    --nav-li-hover: 2px solid #fff;
    --grid-background-color: linear-gradient(to bottom, #39caf7,#057bd4);
    --nav-th-color: #00000000;
  }
.whitemode{
    --body-background: linear-gradient(to bottom, #ff00f2, #e5ff00);
    --body-color: #00ff00;
    --p-color: rgb(114, 0, 9);
    --a-color: rgb(0, 66, 124);
    --a-hover: rgb(143, 0, 67);
    --header-background-color: #a71313;
    --header-color: #ffee00;
    --header1-background-color: #3c5d75;
    --header1-color: #85315b;
    --nav-li-color: #2d2e72;
    --nav-li-hover: 2px solid #228888;
    --grid-background-color: linear-gradient(to bottom, #204753,#8d2a64);
    --nav-th-color: #615b2b00;
}

body{
    background: var(--body-background);
    background-size:auto;
    background-position: center;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--body-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0.5, 0.5);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h2{
    font-family: Verdana, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Roboto', sans-serif;
    color: var(--p-color);
    font-weight: 400;
    margin: 0;
    padding: 0;

}

a {
    color: var(--a-color);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

a:hover{
    color: var(--a-hover);
    font-weight: bold;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

header {
    background-color: var(--header-background-color);
    color: var(--header-color);
    padding: 10px 0;
  }

.header1 {
    background-color: var(--header1-background-color);
    color: var(--header1-color); 
    font-weight: bold;
    padding: 10px 0;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav li a {
    color: var(--nav-li-color);
    text-decoration: none;
  }
  
  nav li a:hover {
    border-bottom: var(--nav-li-hover);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .grid-item {
    background: var(--grid-background-color);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .grid-item h2 {
    margin-top: 0;
  }

  table {
    margin: 0 auto;
    text-align: left;
    padding: 0px;
}

th {
    text-align: left;
    border-right: 60px solid var(--nav-th-color);
}